@{
    @model CarExchange.Core.Models.CreateCar;
    int i = 1;
}

<h1>Add Features:</h1>
<hr />

<legend>Use CTRL + Left Mouse Button to select multiply choices.</legend>

<div>
    <form asp-controller="Car" asp-action="AddFeaturesPOST" method="post">
        <label>Features:</label>
        <select asp-for="Features" asp-items="@ViewBag.Features" class="form-control">

        </select>
        @Html.HiddenFor(m => m.BodyType)
        @Html.HiddenFor(m => m.Color)
        @Html.HiddenFor(m => m.Description)
        @Html.HiddenFor(m => m.Engine)
        @Html.HiddenFor(m => m.FuelType)
        @Html.HiddenFor(m => m.Gears)
        @Html.HiddenFor(m => m.HorsePower)
        @Html.HiddenFor(m => m.Manufacturer)
        @Html.HiddenFor(m => m.Mileage)
        @Html.HiddenFor(m => m.Model)
        @Html.HiddenFor(m => m.Price)
        @Html.HiddenFor(m => m.Seats)
        @Html.HiddenFor(m => m.Transmission)
        @*<fieldset id="features" name="Features">
            @foreach (var feature in (List<SelectListItem>)ViewBag.Features)
            {
                <input id="@feature.Value"
                   type="checkbox"
                   name="Features"
                   value="@feature.Value"
                   checked="@feature.Selected" />

                <text>@feature.Text |</text>
                {
                    i++;
                }
                @if (i % 4 == 0)
                {
                    <br />
                }
            }
        </fieldset>*@

        <input type="submit" value="Next" />
    </form>
</div>