@model CarExchange.Core.Models.CreateCar;

<h1>Add Images</h1>

<form enctype="multipart/form-data" method="post" asp-controller="Car" asp-action="AddImages">
    <dl>
        <dt>
            <label>Upload</label>
        </dt>
        <dd>
            <input type="file" name="FormFiles" id="FormFile" multiple>

        </dd>
    </dl>

    @Html.HiddenFor(m => m.BodyType)
    @Html.HiddenFor(m => m.Color)
    @Html.HiddenFor(m => m.Description)
    @Html.HiddenFor(m => m.Engine)
    @Html.HiddenFor(m => m.FuelType)
    @Html.HiddenFor(m => m.Gears)
    @Html.HiddenFor(m => m.HorsePower)
    @Html.HiddenFor(m => m.Manufacturer)
    @Html.HiddenFor(m => m.Mileage)
    @Html.HiddenFor(m => m.Model)
    @Html.HiddenFor(m => m.Price)
    @Html.HiddenFor(m => m.Seats)
    @Html.HiddenFor(m => m.Transmission)
    @Html.HiddenFor(m => m.Features)
    
    <input type="submit" value="Finish" />
</form>