@using CarExchange.Areas.Admin.Models
@model CreateCar;
@{
    int i = 1;
}

<h1>
    Add new car to shop
</h1>
<hr />

<form asp-controller="Car" asp-action="Create" enctype="multipart/form-data" method="post">
    <div>
        <label>Body type:</label>
        <select id="bodyTypes" name="BodyType">
            @foreach (var bodyType in ViewBag.BodyTypes)
            {
                <option value="@bodyType">@bodyType</option>
            }
        </select>

        <br />
        <label>Color:</label>
        <select id="color" name="Color">
            @foreach (var color in ViewBag.Colors)
            {
                <option value="@color">@color</option>
            }
        </select>

        <br />
        <label>Fuel:</label>
        <select id="fuel" name="FuelType">
            @foreach (var fuel in ViewBag.FuelTypes)
            {
                <option value="@fuel">@fuel</option>
            }
        </select>

        <br />
        <label>Manufacturer:</label>
        <select id="manufacturer" name="Manufacturer">
            @foreach (var manufacturer in ViewBag.Manufacturers)
            {
                <option value="@manufacturer">@manufacturer</option>
            }
        </select>

        <br />
        <label>Transmission:</label>
        <select id="transmission" name="Transmission">
            @foreach (var transmission in ViewBag.Transmissions)
            {
                <option value="@transmission">@transmission</option>
            }
        </select>
        <br />

        <hr />
        <input type="submit" class="btn-primary" value="Next" />
    </div>
</form>